<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
    <!-- start menu -->
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />

    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/js/simpleCart.min.js"> </script>
</head>
<body>

    <!--header-->
    <div class="header">
        @Html.Partial("~/Views/Layout/HeaderTopPartial.cshtml")
       
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="/" style="text-decoration:none;"><img src="~/Content/images/icon.png" height="50" width="50" alt="Trang chủ"> <span style="font-size:20px;">Mobile Shopping</span></a>
                </div>
                @Html.Action("MenuPartial", "Home")

                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
    @{
        string link;
        if (ViewBag.MaLoaiSP == null)
        {
            link = "/SanPham/SanPham?gia=";
        }
        else
        {
            if (@ViewBag.MaNSX == null)
            {
                link = "/SanPham/SanPham?MaLoaiSP=" + ViewBag.MaLoaiSP + "&gia=";

            }
            else
            {
                link = "/SanPham/SanPham?MaLoaiSP=" + ViewBag.MaLoaiSP + "&MaNSX=" + ViewBag.MaNSX + "&gia=";


            }
        }
    }
    <!--content-->
    <!---->
     <div class="product">
        <div class="container">
            <div class="col-md-3 product-price">

                <div class="rsidebar span_1_of_left">
                    <div class="of-left">
                        <h3 class="cate">Danh Mục</h3>
                    </div>
                    <ul class="menu">
                        <li class="item1">
                            <a href="#">Hãng </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="/SanPham/SanPham?MaNSX=1">Acer </a></li>
                                <li class="subitem2"><a href="/SanPham/SanPham?MaNSX=2">Apple</a></li>
                                <li class="subitem3"><a href="/SanPham/SanPham?MaNSX=3">Asus </a></li>
                                <li class="subitem1"><a href="/SanPham/SanPham?MaNSX=4">Blackberry </a></li>
                                <li class="subitem2"><a href="/SanPham/SanPham?MaNSX=5">Dell</a></li>
                                <li class="subitem3"><a href="/SanPham/SanPham?MaNSX=6">Hp </a></li>
                                <li class="subitem1"><a href="/SanPham/SanPham?MaNSX=7">HTC </a></li>
                                <li class="subitem2"><a href="/SanPham/SanPham?MaNSX=8">LG</a></li>
                                <li class="subitem3"><a href="/SanPham/SanPham?MaNSX=9">Nokia </a></li>
                                <li class="subitem3"><a href="/SanPham/SanPham?MaNSX=10">Sony </a></li>
                                <li class="subitem1"><a href="/SanPham/SanPham?MaNSX=11">Samsung </a></li>
                                <li class="subitem2"><a href="/SanPham/SanPham?MaNSX=12">Toshiba</a></li>
                                <li class="subitem3"><a href="/SanPham/SanPham?MaNSX=13">Cubot </a></li>
                            </ul>
                        </li>
                        <li class="item2">
                            <a href="#">Giá </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="@link 1">Dưới 1 triệu</a></li>
                                <li class="subitem2"><a href="@link 2">Từ 1 -> 5 triệu </a></li>
                                <li class="subitem3"><a href="@link 3">Trên 5 triệu </a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });

			});
                </script>
                <!---->
                <div class="product-middle">

                    <div class="fit-top">
                        <h6 class="shop-top"></h6>
                        <a href="/" class="shop-now">MOBILE SHOPPING</a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="sellers">
                    

                </div>
                <!---->
                <div class="product-bottom">
                    <div class="of-left-in">
                        <h3 class="best">Sản phẩm bán chạy nhất</h3>
                    </div>
                    @{
                        if (ViewBag.spbanchay != null) {
                            foreach (var item in ViewBag.spbanchay)
                            {
                        <div class="product-go">
                            <div class="fashion-grid">
                                <a href="/SanPham/XemChiTiet?id=@item.MaSP"><img class="img-responsive " src="~/Content/HinhAnhSP/@item.HinhAnh" alt="Hinh anh san pham"></a>

                            </div>
                            <div class="fashion-grid1">
                                <h6 class="best2">
                                    <a href="/SanPham/XemChiTiet?id=@item.MaSP">
                                        @item.TenSP

                                    </a>
                                </h6>

                                <span class="price-in1">Giá : @item.DonGia</span>
                            </div>

                            <div class="clearfix"> </div>
                        </div>
                        } } }



                </div>
                
            </div>
            @RenderBody()

            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//content-->

    <div class="footer">
        <div class="container">
            <div class="footer-top-at">

                <div class="col-md-4 amet-sed">
                    <h4>THÔNG TIN KHÁC</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">Làm thế nào để đặt hàng</a></li>              
                        <li><a href="#">Địa chỉ cửa hàng</a></li>
                        <li><a href="#">Chính sách giao hàng</a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                    </ul>
                </div>
                <div class="col-md-4 amet-sed ">
                    <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4>

                    <p>hottel:  +12 34 995 0792</p>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/"><i class="facebook"> </i></a></li>
                        <li><a href="https://twitter.com/"><i class="twitter"> </i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="instagram"> </i></a></li>
                        <li><a href="https://mail.google.com/"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-4 amet-sed">
                    <h4>TIN TỨC MỚI</h4>
                    <p>
                        Đăng kí để nhận thêm nhiều thông tin hơn !
                    </p>
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="Sign up">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class">
            <p> 2020 Mobile Shopping -- MTA </p>
        </div>
    </div>
</body>
</html>

